.node-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  height: 70px;
  width: 160px;

  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  &-icon {
    font-size: 24px;
  }
  &-name {
  }

  &:hover {
    background-color: rgba(242, 242, 242, 0.671);
  }
}
